.containerImg img{
  width: 100%;
  height: 400px;
  cursor: pointer;
}

.smallImg{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

i{
  color: #c6a767;
}

@media all and (min-width:1400px){
  .containerSmallImg{
    width: 600px;
  }

  .containerImg{
    width: 600px;
    height: 400px;
  }

  img{
    width: 100%;
    height: 100%;
  }
}