.containerImg{
  width: 100%;
}

.containerImg img{
  width: 100%;
  height: 40vh;
  cursor: pointer;
  object-fit: fill;
}

.containerSmallImg{
  width: 100%;
}

.containerSmallImg .smallImg{
  width: 100%;
  min-width: 70px;
  max-width: 120px;
  height: 10vh;
  cursor: pointer;
}

.containerAmenities i{
  color: #c6a767;
}

.fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 99;
  margin: auto;
}

.carouselFullScreen{
  width: 100%;
}

.imgCarousel {
  width: 100%;
  height: 40vh;
  object-fit: fill;
}

.fullscreen i{
  display: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

@media all and (min-width: 375px){
  .containerImg img{
    height: 55vh;
  }

  .containerSmallImg .smallImg{
    height: 12vh;
  }

  .carouselFullScreen .imgCarousel{
    height: 63.79vh;
    object-fit: fill;
  }
}

@media all and (min-width: 576px){
  .containerImg img{
    width: 500px;
    height: 58vh;
  }

  .carouselFullScreen .imgCarousel{
    max-width: 700px;
  }

  .carouselFullScreen{
    max-width: 680px;
  }
}

@media all and (min-width: 768px){
  .containerImg{
    text-align: center;
  }

  .containerImg img{
    width: 600px;
    height: 58vh;
    object-fit: fill;
  }
}

@media all and (min-width:992px){
  .containerImg img{
    width: 100%;
  }
}

@media all and (min-width:1400px){
  .containerSmallImg{
    width: 600px;
  }

  .containerImg{
    width: 600px;
    height: 60vh;
  }

  .containerImg img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .carouselFullScreen{
    max-width: 780px;
  }

  .carouselFullScreen .imgCarousel{
    max-width: 800px;
    height: 80vh;
    text-align: center;
  }
}
