body{
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

h1,
h2,
h3{
  color: #8a9017;
  color: #9f870b;
}

.lead{
  font-size: 1rem;
  font-weight: 400;
}

@media all and (min-width:1200px){
  .lead{
    font-size: 1.25rem;
  }
}