body{
  font-family: 'Nunito', sans-serif;
  background: #f1e8d6;;
}

.lead{
  font-size: 1rem;
}

.iconFacebook:hover{
  color: rgb(27, 27, 189);
}

.iconInstagram{
  color: rgb(210, 48, 48);
}

.iconInstagram:hover{
  color: red;
}

.iconWhatsApp{
  color: green;
}

.iconWhatsApp:hover{
  color: rgb(3, 96, 3);
}

@media all and (min-width:1200px){
  .lead{
    font-size: 1.25rem;
  }
}