body{
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0;
}

main{
  margin-top: 96.75px;
  flex-grow: 1;
  background: #f1e8d6;
}

h1,
h2,
h3,
h5{
  color: #8a9017;
  color: #9f870b;
}

.lead{
  font-size: 1rem;
  font-weight: 400;
}

.iconFacebook{
  color: #3d61f2;
}

.iconFacebook:hover{
  color: rgb(27, 27, 189);
}

.iconInstagram{
  color: rgb(210, 48, 48);
}

.iconInstagram:hover{
  color: red;
}

.iconWhatsApp{
  color: green;
}

.iconWhatsApp:hover{
  color: rgb(3, 96, 3);
  font-weight:400;
}

.btnWppFixed{
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 60px;
}

@media all and (min-width:768px){
  .btnWppFixed{
    font-size: 80px;
  }

}

@media all and (min-width:992px){
  main{
    margin-top:80.75px;
  }
}

@media all and (min-width:1200px){
  main{
    margin-top: 104px;
  }

  .lead{
    font-size: 1.25rem;
    font-weight:400;
  }
}