main{
  background: #f1e8d6;
}

section .descriptionRooms{
  width: 100%;
}

.cardRoom{
  background: #F4F3E8;
}

.containerImg img{
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.btnMoreInfo{
  border: 1px solid #8f884d;
  background: #d3ac5e;
  background: #ba9f6a;
}

.btnMoreInfo:hover{
  border: 1px solid #111010;
  background: #bb9852;
  background: #b8954f;
  transition: all .2s ease-in-out;
}

@media all and (min-width:768px){
  section .descriptionRooms{
    width: 700px;
  }

  .cardRoom{
    width: 700px;
  }

  .containerImg img{
    width: 350px;
    height: 300px;
  }

  .textHidden {
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
  }
}

@media all and (min-width:992px){
  section .descriptionRooms{
    width: 900px;
  }

  .cardRoom{
    width: 900px;
  }

  .containerImg img{
    width: 450px;
    height: 300px;
  }
}