a{
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.imgCarrusel{
  height: 29.75vh;
  object-fit: fill;
}

.sectionWelcome{
  min-height: 45vh;
}

section:nth-child(2), section:nth-child(4){
  background: #F4F3E8;
}

.welcomeDescription{
  width: 43.75rem;
}

.sectionService{
  width: 100%;
  height: 100%;
  min-height: 42.5vh;
  background: #E6DCC8;
}

.sectionService .containerService{
  min-width: 14.375rem;
  max-width: 100%;
  gap: 30px;
}

.sectionService .containerImageService{
  min-width: 14.375rem;
  min-height: 21.25vh;
}

.containerImageService img{
  max-width: 100%;
  max-height: 100%;
}

.containerDescriptionService{
  min-width: 15rem;
  width: 100%;
}

.containerDescriptionService h2{
  padding-bottom: 20px;
}

.sectionServices{
  width: 100%;
  min-height: 42.5vh;
}

.sectionServices .containerAmenities{
  width: 100%;
  gap: 20px;
}

.containerAmenities i,
.sectionService i{
  font-size: 1.875rem;
  color: #c6a767;
}

.sectionInfo i{
  font-size: 1.875rem;
  color: #ba9f6a;
}

.sectionInfo{
  background: #F4F3E8;
  min-height: 42.5vh;
}

.sectionInfo .containerInfo{
  width: 100%;
  gap: 50px;
}

.containerInfo .description{
  width: 100%;
}

.btnHabitaciones{
  border: 1px solid #8f884d;
  background: #b8954f;
  color: #fff;
}

.btnHabitaciones:hover{
  background: #9d7d3d;
  color: #fff;
  transition: all .2s ease-in-out;
}

.btnInfo{
  border: 1px solid #8f884d;
  background: #F4F3E8;
}

.btnInfo:hover{
  background: #ba9f6a;
  transition: all .2s ease-in-out;
  color: #fff;
}

@media all and (min-width:576px){
  .imgCarrusel{
    height: 51vh;
  }

  .containerImageService{
    max-width: 42.5vh;
  }
}

@media all and (min-width:768px){
  .sectionWelcome{
    min-height: 40vh;
  }

  .imgCarrusel{
    height: 61.63vh;
  }

  .sectionService{
    height: 51.13vh;
  }

  .sectionService .containerService{
    width: 100%;
    gap: 20px;
  }

  .containerService .containerDescriptionService{
    width: 400px;
  }

  .sectionServices .containerAmenities{
    gap: 50px;
  }
  
  .containerAmenities i,
  .sectionService i,
  .sectionInfo i{
    font-size:50px;
  }

  .sectionInfo .containerInfo{
    gap: 75px;
  }

  .containerInfo .description{
    width: 400px;
  }
}

@media all and (min-width:992px){
  .sectionWelcome{
    min-height: 53.14vh;
  }


  .imgCarrusel{
    height: 72.26vh;
  }

  .sectionService{
    width: 100%;
    height: 63.76vh;
  }

  .sectionService .containerService{
    width: 100%;
    gap: 20px;
  }

  .containerService .containerImageService{
    max-width: 600px;
    height: 42.5vh;
  }

  .containerService .containerDescriptionService{
    width: 500px;
    padding-bottom: 80px;
  }
}

@media all and (min-width:1200px){
  .imgCarrusel{
    height: 82.89vh;
  }

  .sectionService .containerService{
    gap: 75px;
  }
  
  .sectionServices .containerAmenities{
    gap: 75px;
  }
}

@media all and (min-width:1400px){
  .imgCarrusel{
    height: 90vh;
  }

  .sectionService .containerService{
    width: 100%;
    gap: 75px;
  }

  .containerService .containerImageService{
    width: 600px;
    height: 42.5vh;
  }

  .containerImageService img{
    width: 100%;
  }

  .containerService .containerDescriptionService{
    width: 63.76vh;
  }
}