body{
  font-family: 'Nunito';
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.imgCarrusel{
  height: 280px;
  object-fit: fill;
}

.sectionWelcome{
  min-height: 500px;
}

section:nth-child(2), section:nth-child(4){
  background: #F4F3E8;
}

.welcomeDescription{
  width: 700px;
}

.sectionService{
  width: 100%;
  height: 100%;
  min-height: 400px;
  background: #E6DCC8;
}

.sectionService .containerService{
  min-width: 230px;
  max-width: 100%;
  gap: 30px;
}

.sectionService .containerImageService{
  min-width: 230px;
  min-height: 200px;
}

.containerImageService img{
  max-width: 100%;
  max-height: 100%;
}

.containerDescriptionService{
  min-width: 240px;
  width: 100%;
}

.containerDescriptionService h2{
  padding-bottom: 20px;
}

.sectionServices{
  width: 100%;
  min-height: 300px;
}

.sectionServices .containerAmenities{
  width: 100%;
  gap: 30px;
}

i{
  font-size:30px;
  color: #c6a767;
}

.sectionInfo{
  background: #F4F3E8;
  min-height: 300px;
}

.sectionInfo .containerInfo{
  width: 100%;
  gap: 50px;
}

.containerInfo .description{
  width: 100%;
}

.btnHabitaciones{
  background: #c6a767;
}

.btnHabitaciones:hover{
  background: #b8954f;
  color: #fff;
  transition: all .2s ease-in-out;
}

.btnInfo{
  border: 1px solid #8f884d;
  background: #F4F3E8;
}

.btnInfo:hover{
  background: #ba9f6a;
  transition: all .2s ease-in-out;
  color: #fff;
}

@media all and (min-width:576px){
  .imgCarrusel{
    height: 480px;
  }

  .containerImageService{
    max-width: 400px;
  }
}

@media all and (min-width:768px){
  .imgCarrusel{
    height: 580px;
  }

  .sectionService{
    height: 500px;
  }

  .sectionService .containerService{
    width: 100%;
    gap: 20px;
  }

  .containerService .containerDescriptionService{
    width: 400px;
  }

  .sectionServices .containerAmenities{
    gap: 100px;
  }
  
  i{
    font-size:50px;
  }

  .sectionInfo .containerInfo{
    gap: 75px;
  }

  .containerInfo .description{
    width: 400px;
  }
}

@media all and (min-width:992px){
  .imgCarrusel{
    height: 680px;
  }

  .sectionService{
    width: 100%;
    height: 600px;
  }

  .sectionService .containerService{
    width: 100%;
    gap: 20px;
  }

  .containerService .containerImageService{
    max-width: 600px;
    height: 400px;
  }

  .containerService .containerDescriptionService{
    width: 500px;
    padding-bottom: 80px;
  }

  .sectionServices .containerAmenities{
    gap: 150px;
  }
}

@media all and (min-width:1200px){
  .imgCarrusel{
    height: 780px;
  }

  .sectionService .containerService{
    gap: 75px;
  }
  
  .sectionServices .containerAmenities{
    gap: 200px;
  }
}

@media all and (min-width:1400px){
  .imgCarrusel{
    height: 90vh;
  }

  .sectionService .containerService{
    width: 100%;
    gap: 75px;
  }

  .containerService .containerImageService{
    width: 600px;
    height: 400px;
  }

  .containerImageService img{
    width: 100%;
  }

  .containerService .containerDescriptionService{
    width: 600px;
  }
}