body{
  font-family: 'Nunito';
}

.imgCarrusel{
  height: 280px;
  object-fit: fill;
}

.sectionWelcome{
  display: flex;
  justify-content: center;
  background: #F4F3E8;
  height: 600px;
}

.welcomeDescription{
  width: 900px;
}

.sectionService{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  height: 600px;
  background: #E6DCC8;
}

.sectionService .containerService{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.sectionService .containerImageService{
  width: 600px;
  height: 400px;
}

.containerImageService img{
  width: 100%;
  height: 100%;
}

.containerDescriptionService{
  width: 600px;
  padding-bottom: 100px;
}

.containerDescriptionService h2{
  padding-bottom: 20px;
}

.sectionRoom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  height: 600px;
  background: #F4F3E8;
}

.sectionRoom .containerRoom{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.containerDescriptionRoom{
  width: 600px;
  padding-bottom: 20px;
}

.sectionRoom .containerImageRoom{
  width: 600px;
  height: 400px;
}

.containerImageRoom img{
  width: 100%;
  height: 100%;
}

.sectionInfo{
  background: #E6DCC8;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionInfo .containerInfo{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.containerInfo .description{
  width: 400px;
}

@media all and (min-width:576px){
  .imgCarrusel{
    height: 480px;
  }
}

@media all and (min-width:768px){
  .imgCarrusel{
    height: 580px;
  }
}

@media all and (min-width:992px){
  .imgCarrusel{
    height: 680px;
  }
}

@media all and (min-width:1200px){
  .imgCarrusel{
    height: 780px;
  }
}

@media all and (min-width:1400px){
  .imgCarrusel{
    height: 90vh;
  }
}