main{
  background: #f1e8d6;
}

.bannerImgFaqs img{
  width: 100%;
  height: 35vh;
}

.linkModalPaymentMethods{
  cursor: pointer;
  text-decoration: none;
  color: #9d7d3d;
}

.accordion{
  width: 800px;
}

.accordion .accordion-button,
.accordion .accordion-body{
  background: #F4F3E8;
}

.containerQuestions{
  width: 100%;
}

@media all and (min-width:576px){
  .bannerImgFaqs img{
    height: 40vh;
  }
}

@media all and (min-width:768px){
  .bannerImgFaqs img{
    height: 45vh;
  }
}

@media all and (min-width:992px){
  .bannerImgFaqs img{
    height: 75vh;
  }

  .containerQuestions{
    width: 800px;
  }
}