.vscode
comoLlegar.css
detalleHabitacion.css
estilos.css
footer.css
galeria.css
habitaciones.css
navbar.css
preguntasFrecuentes.css
index.css
app.js
detalleHabitacion.js
form.js
funciones.js
galeria.js
traducciones.js
cargarEstilos.js