.navBar,
.dropdown-menu {
    background: #f7f7f7;
}

#navbarNav .navigation {
    width: 100%;
}

#navbarNav ul .nav-item {
    width: 100%;
}

.navigation .nav-item .nav-link {
    color: #000;
    /* border-bottom: 3px solid #eceff2; */
}

.navigation .nav-item:hover .nav-link {
    color: #000;
    /* border-bottom: 3px solid #516778; */
}

@media all and (min-width: 576px) {
    #navbarNav ul .nav-item {
        width: 50%;
    }
}

@media all and (min-width: 992px) {
    .navigation .nav-item .linkBorder {
        color: #000;
        border-bottom: 3px solid #516778;
    }

    #navbarNav ul .nav-item {
        width: initial;
    }
}

@media all and (min-width: 1200px) {
    .logo {
        width: 200px;
    }

    #navbarNav .navigation {
        width: initial;
    }
}
