@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Questrial';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.btnWppFixed {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 60px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}